<div class="main-content">
  <form action="" class="form">

    <div class="form-inputs">

      <div class="form-item">
        <label for="input" class="text">Nome completo:</label>
        <input type="text" placeholder="Nome do usuario" name="input" class="input-form">
      </div>
        
      <div class="form-item">
        <label for="password" class="text" >Senha</label>
        <input type="password" name="password" placeholder="Senha" class="input-form">
      </div>

      <div class="form-item">
        <label for="input" class="text">Idade</label>
        <input type="text" placeholder="???" name="input" class="input-form" readonly>
      </div>
      <div class="form-item">
        <label for="input" class="text">Data nascimento</label>
        <input type="date" placeholder="Nome do usuario" name="input" class="input-form">
      </div>

    </div>
    

  </form>
</div>